{% extends "base.html" %}

{% block trello_button %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Editar Cotação</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
            {% for field in form if field.name != 'colocar_trello' and field.type != 'CSRFTokenField' and field.type != 'HiddenField' and field.name != 'submit' %}
                <div class="mb-3">
                    {{ field.label(class="form-label") }}
                    {% if field.type == 'RadioField' %}
                        <div class="d-flex">
                            {% for subfield in field %}
                                <div class="form-check form-check-inline">
                                    {{ subfield(class="form-check-input") }}
                                    <label class="form-check-label" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class="form-control") }}
                    {% endif %}
                    {% if field.errors %}
                        <div class="text-danger small">
                            {{ field.errors|join(', ') }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        <button type="submit" class="btn btn-success">Salvar Alterações</button>
        <a href="{{ url_for('cotacao.cotacao') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}